.styleguide {}

.styleguide__navigation-wrap {}
.styleguide__navigation {}
.styleguide__navigation-item {}

.styleguide__content {}
.styleguide__title {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  border-bottom: 1px #eeeeee solid;
}

.styleguide__colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.styleguide__color {
  width: 33%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.styleguide__color-text {}
