.styleguide {}

.styleguide__navigation-wrap {}
.styleguide__navigation {}
.styleguide__navigation-item {}

.styleguide__content {}

.styleguide__title {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  border-bottom: 1px #eeeeee solid;
}

.styleguide__colors {}

@supports (display: grid) {
  .styleguide__colors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
}

.styleguide__color {
  box-sizing: border-box;
  display: flex;
  font-size: 16px;
  flex-direction: column;

  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
  min-height: 200px;
  padding: 20px 23px;
  width: auto;
}

@supports (display: grid) {
  .styleguide__color {
    margin-bottom: 0;
  }
}

.styleguide__color-text {}

.styleguide__heading-styles {
  margin-left: 1rem;
  font-weight: normal;
  font-size: 1rem;
}
